Help on module models:

NAME
    models

CLASSES
    sqlalchemy.ext.declarative.api.Model(flask_sqlalchemy.model.Model)
        Breeds
        Dogs
        Shelters
    
    class Breeds(sqlalchemy.ext.declarative.api.Model)
     |  Base class for SQLAlchemy declarative base model.
     |  
     |  To define models, subclass :attr:`db.Model <SQLAlchemy.Model>`, not this
     |  class. To customize ``db.Model``, subclass this and pass it as
     |  ``model_class`` to :class:`SQLAlchemy`.
     |  
     |  Method resolution order:
     |      Breeds
     |      sqlalchemy.ext.declarative.api.Model
     |      flask_sqlalchemy.model.Model
     |      builtins.object
     |  
     |  Methods defined here:
     |  
     |  __init__(self, **kwargs)
     |      A simple constructor that allows initialization from kwargs.
     |      
     |      Sets attributes on the constructed instance using the names and
     |      values in ``kwargs``.
     |      
     |      Only keys that are present as
     |      attributes of the instance's class are allowed. These could be,
     |      for example, any mapped columns or relationships.
     |  
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |  
     |  age_lower
     |  
     |  age_upper
     |  
     |  bred_for
     |  
     |  breed_group
     |  
     |  height_lower
     |  
     |  height_upper
     |  
     |  id
     |  
     |  img1
     |  
     |  img2
     |  
     |  img3
     |  
     |  name
     |  
     |  origin
     |  
     |  weight_lower
     |  
     |  weight_upper
     |  
     |  ----------------------------------------------------------------------
     |  Data and other attributes defined here:
     |  
     |  __mapper__ = <Mapper at 0x50cb550; Breeds>
     |  
     |  __table__ = Table('Breeds', MetaData(bind=None), Column('id'...String(...
     |  
     |  __tablename__ = 'Breeds'
     |  
     |  ----------------------------------------------------------------------
     |  Data and other attributes inherited from sqlalchemy.ext.declarative.api.Model:
     |  
     |  metadata = MetaData(bind=None)
     |  
     |  query = <flask_sqlalchemy.BaseQuery object>
     |  
     |  query_class = <class 'flask_sqlalchemy.BaseQuery'>
     |      SQLAlchemy :class:`~sqlalchemy.orm.query.Query` subclass with convenience methods for querying in a web application.
     |      
     |      This is the default :attr:`~Model.query` object used for models, and exposed as :attr:`~SQLAlchemy.Query`.
     |      Override the query class for an individual model by subclassing this and setting :attr:`~Model.query_class`.
     |  
     |  ----------------------------------------------------------------------
     |  Methods inherited from flask_sqlalchemy.model.Model:
     |  
     |  __repr__(self)
     |      Return repr(self).
     |  
     |  ----------------------------------------------------------------------
     |  Data descriptors inherited from flask_sqlalchemy.model.Model:
     |  
     |  __dict__
     |      dictionary for instance variables (if defined)
     |  
     |  ----------------------------------------------------------------------
     |  Data and other attributes inherited from flask_sqlalchemy.model.Model:
     |  
     |  __weakref__ = <weakref at 0x050C4CF0; to 'DefaultMeta' at 0x050AF208 (...
    
    class Dogs(sqlalchemy.ext.declarative.api.Model)
     |  Base class for SQLAlchemy declarative base model.
     |  
     |  To define models, subclass :attr:`db.Model <SQLAlchemy.Model>`, not this
     |  class. To customize ``db.Model``, subclass this and pass it as
     |  ``model_class`` to :class:`SQLAlchemy`.
     |  
     |  Method resolution order:
     |      Dogs
     |      sqlalchemy.ext.declarative.api.Model
     |      flask_sqlalchemy.model.Model
     |      builtins.object
     |  
     |  Methods defined here:
     |  
     |  __init__(self, **kwargs)
     |      A simple constructor that allows initialization from kwargs.
     |      
     |      Sets attributes on the constructed instance using the names and
     |      values in ``kwargs``.
     |      
     |      Only keys that are present as
     |      attributes of the instance's class are allowed. These could be,
     |      for example, any mapped columns or relationships.
     |  
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |  
     |  age
     |  
     |  breed1
     |  
     |  breed2
     |  
     |  desc
     |  
     |  gender
     |  
     |  id
     |  
     |  img1
     |  
     |  img2
     |  
     |  img3
     |  
     |  name
     |  
     |  neuter
     |  
     |  shelter
     |  
     |  size
     |  
     |  ----------------------------------------------------------------------
     |  Data and other attributes defined here:
     |  
     |  __mapper__ = <Mapper at 0x5099b70; Dogs>
     |  
     |  __table__ = Table('Dogs', MetaData(bind=None), Column('id', ...300), t...
     |  
     |  __tablename__ = 'Dogs'
     |  
     |  ----------------------------------------------------------------------
     |  Data and other attributes inherited from sqlalchemy.ext.declarative.api.Model:
     |  
     |  metadata = MetaData(bind=None)
     |  
     |  query = <flask_sqlalchemy.BaseQuery object>
     |  
     |  query_class = <class 'flask_sqlalchemy.BaseQuery'>
     |      SQLAlchemy :class:`~sqlalchemy.orm.query.Query` subclass with convenience methods for querying in a web application.
     |      
     |      This is the default :attr:`~Model.query` object used for models, and exposed as :attr:`~SQLAlchemy.Query`.
     |      Override the query class for an individual model by subclassing this and setting :attr:`~Model.query_class`.
     |  
     |  ----------------------------------------------------------------------
     |  Methods inherited from flask_sqlalchemy.model.Model:
     |  
     |  __repr__(self)
     |      Return repr(self).
     |  
     |  ----------------------------------------------------------------------
     |  Data descriptors inherited from flask_sqlalchemy.model.Model:
     |  
     |  __dict__
     |      dictionary for instance variables (if defined)
     |  
     |  ----------------------------------------------------------------------
     |  Data and other attributes inherited from flask_sqlalchemy.model.Model:
     |  
     |  __weakref__ = <weakref at 0x050A97B0; to 'DefaultMeta' at 0x050AF030 (...
    
    class Shelters(sqlalchemy.ext.declarative.api.Model)
     |  Base class for SQLAlchemy declarative base model.
     |  
     |  To define models, subclass :attr:`db.Model <SQLAlchemy.Model>`, not this
     |  class. To customize ``db.Model``, subclass this and pass it as
     |  ``model_class`` to :class:`SQLAlchemy`.
     |  
     |  Method resolution order:
     |      Shelters
     |      sqlalchemy.ext.declarative.api.Model
     |      flask_sqlalchemy.model.Model
     |      builtins.object
     |  
     |  Methods defined here:
     |  
     |  __init__(self, **kwargs)
     |      A simple constructor that allows initialization from kwargs.
     |      
     |      Sets attributes on the constructed instance using the names and
     |      values in ``kwargs``.
     |      
     |      Only keys that are present as
     |      attributes of the instance's class are allowed. These could be,
     |      for example, any mapped columns or relationships.
     |  
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |  
     |  address
     |  
     |  email
     |  
     |  id
     |  
     |  img_url
     |  
     |  name
     |  
     |  phone
     |  
     |  website
     |  
     |  ----------------------------------------------------------------------
     |  Data and other attributes defined here:
     |  
     |  __mapper__ = <Mapper at 0x50cba50; Shelters>
     |  
     |  __table__ = Table('Shelters', MetaData(bind=None), Column('i..., table...
     |  
     |  __tablename__ = 'Shelters'
     |  
     |  ----------------------------------------------------------------------
     |  Data and other attributes inherited from sqlalchemy.ext.declarative.api.Model:
     |  
     |  metadata = MetaData(bind=None)
     |  
     |  query = <flask_sqlalchemy.BaseQuery object>
     |  
     |  query_class = <class 'flask_sqlalchemy.BaseQuery'>
     |      SQLAlchemy :class:`~sqlalchemy.orm.query.Query` subclass with convenience methods for querying in a web application.
     |      
     |      This is the default :attr:`~Model.query` object used for models, and exposed as :attr:`~SQLAlchemy.Query`.
     |      Override the query class for an individual model by subclassing this and setting :attr:`~Model.query_class`.
     |  
     |  ----------------------------------------------------------------------
     |  Methods inherited from flask_sqlalchemy.model.Model:
     |  
     |  __repr__(self)
     |      Return repr(self).
     |  
     |  ----------------------------------------------------------------------
     |  Data descriptors inherited from flask_sqlalchemy.model.Model:
     |  
     |  __dict__
     |      dictionary for instance variables (if defined)
     |  
     |  ----------------------------------------------------------------------
     |  Data and other attributes inherited from flask_sqlalchemy.model.Model:
     |  
     |  __weakref__ = <weakref at 0x050D0DB0; to 'DefaultMeta' at 0x050AF3E0 (...

DATA
    app = <Flask 'models'>
    db = <SQLAlchemy engine=postgres://postgres:***@localhost:5432/idb>

FILE
    c:\users\jatorr\desktop\cs329e-idb\models.py


