{% extends 'base.html' %}
{% import "_macros.html" as macros %}
{% block css %}
  <link rel="stylesheet" type="text/css" href="../static/css/custom.css">
{% endblock %}
<div>
{% block title %}
    Dogs
{% endblock %}
</div>
{% block content %}

    <style>
      .carousel-item{
        background-color: #7770;
        height: rem;
      }
.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}
 .card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}
.dropbtn:focus {
    outline: none;
}
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

    </style>
<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>
      <h1 class="text-center mb-3 text-white">Available Dogs</h1>
    <div class="container">
        <h1 class="text-center mb-3 text-white">Available Dogs</h1>
        <div class="dropdown">
  <button onclick="myFunction()" class="dropbtn dropdown-toggle">Sort</button>
  <div id="myDropdown" class="dropdown-content">
    <a href='{{ url_for("dogsortnameup")}}'>Name: A-Z</a>
    <a href='{{ url_for("dogsortnamedown")}}'>Name: Z-A</a>
    <a href='{{ url_for("dogsortidup")}}'>id: low-high</a>
    <a href='{{ url_for("dogsortiddown")}}'>id: high-low</a>
    <a href='{{ url_for("dogsortageup")}}'>Age: Young-Old</a>
    <a href='{{ url_for("dogsortagedown")}}'>Age: Old-Young</a>
    <a href='{{ url_for("dogsortshelterup")}}'>Shelter: A-Z</a>
    <a href='{{ url_for("dogsortshelterdown")}}'>Shelter: Z-A</a>
    <a href='{{ url_for("dogsortgenderup")}}'>Sex: M-F</a>
    <a href='{{ url_for("dogsortgenderdown")}}'>Sex: F-M</a>
    <a href='{{ url_for("dogs")}}'>Reset</a>
  </div>
</div>
        <div class="row">
          <!-- CARDS -->
          {% for i in dogs %}
        <div class="col-sm-3 mt-4">
            <div class="card p-3 border-primary h-100" >
              <img class="card-img-top img-fluid" src="{{ i.img1 }}" onerror="src='https://www.petango.com/DesktopModules/Pethealth.Petango/Pethealth.Petango.DnnModules.Common/Content/no-image-dog.jpg'">
              <div class="card-body text-center">
                <h4 class="card-title"> {{ i.name }} </h4>
                  <a href='{{ url_for("dog_page", dog_id=i.id) }}' class="btn btn-primary">visit {{i.name}}</a>
                <p class="card-text">Pettango ID: {{ i.id }}</p>
                  <p class="card-text">Shelter: {{ i.shelter }}</p>
                <p class="card-text">Gender: {{ i.gender }}</p>
                  {% if i.age == -1 %}
                    <p class="card-text">Age: Unknown</p>
                  {% elif i.age // 12  != 0 %}
                    <p class="card-text">Age: {{ i.age//12 }} years</p>
                  {% else %}
                    <p class="card-text">Age: {{ i.age }} months</p>
                  {% endif %}
                <p class="card-text">Breed ID: {{ i.breed1 }}</p>
                  <p class="card-text">Size: {{ i.size }}</p>
                  <p class="card-text">Neuter/Spay Status: {{ i.neuter }}</p>
                </div>
            </div>
            </div>
          {% endfor %}
        </div>
    </div>
    <script  src="../static/js/index.js"></script>
<br>
{{ macros.pagination_widget(pages, 'dogsortageup') }}
<br>
{% endblock %}