{% extends 'base.html' %}
{% import "_macros.html" as macros %}
{% block css %}
  <link rel="stylesheet" type="text/css" href="../static/css/custom.css">
{% endblock %}
<div>
{% block title %}
    Shelters
{% endblock %}
</div>
{% block content %}

    <style>
      .carousel-item{
        background-color: #7770;
      }
      .card {
        border: color(card.bg-primary);
      }
.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}
    </style>
    <style>
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}
.dropbtn:focus {
    outline: none;
}
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

    </style>

<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>

      <h1 class="text-center mb-3 text-white">Austin Area Shelters</h1>
    <div class="container">
        <h1 class="text-center mb-3 text-white">Austin Area Shelters</h1>
        <div class="dropdown">
  <button onclick="myFunction()" class="dropbtn dropdown-toggle">Sort</button>
  <div id="myDropdown" class="dropdown-content">
    <a href='{{ url_for("sheltersortnameup")}}'>Name: A-Z</a>
    <a href='{{ url_for("sheltersortnamedown")}}'>Name: Z-A</a>
    <a href='{{ url_for("sheltersortidup")}}'>id: low-high</a>
    <a href='{{ url_for("sheltersortiddown")}}'>id: high-low</a>
    <a href='{{ url_for("sheltersortemailup")}}'>Email A-Z</a>
    <a href='{{ url_for("sheltersortemaildown")}}'>Email Z-A</a>
    <a href='{{ url_for("sheltersortphoneup")}}'>Phone Ascending</a>
    <a href='{{ url_for("sheltersortphonedown")}}'>Phone Descending</a>
    <a href='{{ url_for("sheltersortaddressup")}}'>Address A-Z</a>
    <a href='{{ url_for("sheltersortaddressdown")}}'>Address Z-A</a>
    <a href='{{ url_for("shelters")}}'>Reset</a>
  </div>
</div>
        <div class="row">
          <!-- CARDS -->
          {% for i in shelters %}
          <div class="col-sm-3 mt-4">
            <div class="card p-3 border-primary h-100" >
              <img class="card-img-top img-fluid" src="{{ i.img_url }}" alt="Card image cap">
              <div class="card-body text-center">
                <h4 class="card-title"> {{ i.name }} </h4>
                  <a href='{{url_for("shelter_page", name= i.name)}}' class="btn btn-primary" style="white-space: normal;">{{ i.name }}</a>
                <p class="card-text">{{ i.address }} </p>
                  <p class="card-text">{{ i.phone}} </p>
                  <p class="card-text">{{ i.website }} </p>
                  <p class="card-text">{{ i.email }} </p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    </div>
    <script  src="../static/js/index.js"></script>
<br>
{{ macros.pagination_widget(pages, 'sheltersortphonedown') }}
<br>
{% endblock %}

