{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" type="text/css" href="../static/css/index.css">
{% endblock %}
{% block title %}
About Us
{% endblock %}
{% block content %}
<div class="container">
	<div class="pageBox" align="center">
		<br>
		<br>
		<br>
		<h1><b>Group 8</b></h1>
		<br>

		<div class="first">
			<div class="card-deck" style="background-color:white;">

				{% for name, member in project.members.items() %}
					<div class="card" style="width: 18rem;">
						<img class="card-img-top" src="/static/images/{{ member.img_url }}" alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title">{{ name }}</h5>
							<p class="card-text">
								<p>
									Major: {{member.major}}<br>
									Graduation: {{ member.graduation }}<br>
									{{ member.desc }}
								</p>
								<p>
									<span class="info-bold">Major Responsibilities: {{ member.responsibilities }}</span>
								</p>
								<p>
									<span class="info-bold"># Commits: {{ member.commits }}</span>
								</p>
								<p>
									<span class="info-bold"># Issues: {{ member.issues }}</span>
								</p>
								<p>
									<span class="info-bold"># Unit Tests: {{ member.unit_tests }}</span>
								</p>
							</p>
							</p>
						</div>
					</div>
				{% endfor%}
				<table class="table table-striped mt-5" bgcolor="White">
					<thead>
						<tr class="text-center">
							<th scope="col">Total # of Commits</th>
							<th scope="col">Total # of Issues</th>
							<th scope="col">Total # of Unit Tests</th>
						</tr>
					</thead>
					<tbody>
						<tr class="text-center">
							<td id="total-Commits">{{ project.stats.commits }}</td>
							<td id="total-Issues">{{ project.stats.issues }}</td>
							<td id="total-UT"> {{ project.stats.unit_tests}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="pageBox" align="center" bgcolor="White" style="background-color: white;">
			<br>
			<h2><b>Data Sources</b></h2>
			<a href="http://www.austintexas.gov/department/aac">
				<img src="http://www.austintexas.gov/sites/default/files/aac_logo.jpg" alt="aac_logo"
					style="width:250px;height:90px;">
			</a>
			<a href="http://www.austinhumanesociety.org/">
				<img src="http://www.austinhumanesociety.org/wp-content/themes/pets/sites/default/files/custom-logo-img-home_1.png"
					alt="austinhumanesociety" style="width:240px;height:100px;">
			</a>
			<a href="https://www.austinpetsalive.org/">
				<img src="https://www.austinpetsalive.org/assets/icons/apa-logo-long.svg" alt="austinpetsalive"
					style="width:300px;height:180px;">
			</a>
			<br>
		</div>

		<div class="pageBox" align="center" bgcolor="White" style="background-color: white;">
			<br>
			<h2><b>Tools Used</b></h2>
			<a href="https://gitlab.com/">
				<img src="https://gitlab.com/uploads/-/system/project/avatar/13083/logo-extra-whitespace.png"
					alt="gitlab_logo" style="width:170px;height:170px;">
			</a>
			<a href="https://cloud.google.com/?">
				<img src="https://cloud.google.com/_static/images/cloud/icons/favicons/onecloud/apple-icon.png"
					alt="GCP" style="width:150px;height:150px;">
			</a>
			<a href="https://getbootstrap.com/">
				<img src="https://sdtimes.com/wp-content/uploads/2018/01/bootstrap-stack-490x412.png" alt="bootstrap"
					style="width:150px;height:150px;">
			</a>
			<a href="https://slack.com/">
				<img src="https://user-images.githubusercontent.com/4998725/51313627-50fc6400-1a4e-11e9-8cbe-7c40cc0bfe67.jpg"
					alt="slack" style="width:150px;height:150px;">
			</a>
			<a href="http://flask.pocoo.org/">
				<img src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto/gigs/46941709/original/d5ace87ba59d0d4e5151668e60e8eaf673153ff7/build-api-in-python-flask.jpg"
					alt="flask" style="width:210px;height:150px;">
			</a>
			<br>
			<h2>Coverage Report</h2>
			<img src="/static/images/coverage3.jpg" alt="flask" style="width:500px;height:500px;">
		</div>

		<div class="pageBox" align="center" bgcolor="White" style="background-color: white;">
			<br>
			<h2><b>Links</b></h2>
			<p><a href="https://gitlab.com/jat4625/cs329e-idb/issues">Our Gitlab Issue tracker</a></p>
			<p><a href="https://gitlab.com/jat4625/cs329e-idb/tree/master">Our Gitlab Repo</a></p>
			<p><a href="https://gitlab.com/jat4625/cs329e-idb/wikis/home">Our Gitlab Wiki</a></p>
			<p> Sources </p>
			<P> Scraping was done using Selenium and BeautifulSoup libraries through a script made by Sean.</P>
			<p><a href="https://thedogapi.com/">Breed info obtained from thedogapi</a></p>
			<p><a
					href="https://www.petango.com/pet_search_results?speciesId=1&breedId=undefined&location=78705&distance=50">Pets
					data from PetTango</a></p>
			<a href="https://speakerdeck.com/jatorr98/fur-ever-friend">SpeakerDeck</a>
			<br>
		</div>
	</div>
	{% endblock %}