<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% block css %} {% endblock %}

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link rel="icon" type="image/png" href="/static/images/doge.png">
    <title>{% block title %}{% endblock %} - CS329E IDB project</title>
</head>


<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" href="{{ url_for('index') }}">
        <img src="/static/images/doge.png" width="30" height="30" class="d-inline=block align-top">

        Fur-ever Friends
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <!-- Collapsable navbar content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!-- TODO - toggle active link -->
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('index') }}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('dogs') }}">Dogs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('breeds') }}">Breeds</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('shelters') }}">Shelters</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('About') }}">About us</a>
            </li>
        </ul>
        <!-- Search form -->
        <form class="form-inline my-2 my-lg-0" action={{ url_for('search') }} method="get">
            <div class="input-group">
                <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search..." aria-label="Search"
                    required>
                <div class="input-group-append">
                    <button class="btn btn-light" type="submit" id="button-addon2">🔍</button>
                </div>
            </div>
        </form>
    </div>




</nav>
<style>
    .parallax {
        /* The image used */
        background-image: url("https://www.nlc.org/sites/default/files/2018-03/GettyImages-655590680_0.jpg");
        height: 100%;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<!-- Container element -->

<body class="parallax" background="https://www.nlc.org/sites/default/files/2018-03/GettyImages-655590680_0.jpg">


    <!-- Website content -->
    {% block content %}{% endblock %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>