{% extends 'base.html' %}
{% import "_macros.html" as macros %}
{% block css %}
  <link rel="stylesheet" type="text/css" href="../static/css/custom.css">
{% endblock %}

{% block title %}
    Dog Breeds
{% endblock %}
{% block content %}
    <style>
      .carousel-item{
        background-color: #7770;
        height: rem;
      }
.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
    </style>
 <div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Sort</button>
  <div id="myDropdown" class="dropdown-content">
    <a href='{{ url_for("breedsort", attr="nameup" )}}'>Name: A-Z</a>
    <a href='{{ url_for("breedsort", attr="namedown") }}'>Name: Z-A</a>
    <a href='{{ url_for("breedsort", attr="weightup" )}}'>Weight: low-high</a>
    <a href='{{ url_for("breedsort", attr="weightdown" )}}'>Weight: high-low</a>
    <a href='{{ url_for("breedsort", attr="breedgrpup" )}}'>Breed group: A-Z</a>
    <a href='{{ url_for("breedsort", attr="breedgrpdown" )}}'>Breed group: Z-A</a>
    <a href='{{ url_for("breedsort", attr="maxageup" )}}'>Life span: low - high</a>
    <a href='{{ url_for("breedsort", attr="maxagedown" )}}'>Life span: high - low</a>
    <a href='{{ url_for("breedsort", attr="originup" )}}'>Orign: A-Z</a>
    <a href='{{ url_for("breedsort", attr="origindown" )}}'>Origin: Z-A</a>
    <a href='{{ url_for("breeds")}}'>Reset</a>
  </div>
</div> 
<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>


<h1 class="text-center mb-3 text-white">Breeds</h1>
<div class="row">

  <!-- CARDS -->
  {% for breed in breeds %}
    <div class="col-sm-3">
    <div class="card p-3 border-primary h-100" >
      <img class="card-img-top img-fluid" src="{{ breed.img1 }}" onerror="src='https://www.petango.com/DesktopModules/Pethealth.Petango/Pethealth.Petango.DnnModules.Common/Content/no-image-dog.jpg'">
      <div class="card-body text-center">
        <h4 class="card-title"> {{ breed.name }} </h4>
        <!-- TODO - make href point to breed url-->
        <p class="card-text">Origin: {{ breed.origin }}</p>
          <p class="card-text">Weight: {{ breed.weight_lower }} - {{ breed.weight_upper }} lbs</p>
          <p class="card-text">Height: {{ breed.height_lower }} - {{ breed.height_upper }} inches</p>
          <p class="card-text">life span: {{ breed.age_lower }} - {{ breed.age_upper }} years</p>
          <a href='{{ url_for("breed_page", name=breed.name )}}' class="btn btn-primary">More info</a>
    </div>
  </div>
</div>
  {% endfor %}

</div>
<script  src="../static/js/index.js"></script>
{{ macros.pagination_widget(pages, 'breedsort') }}
{% endblock %}