{% extends 'base.html' %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
<style>
  .carousel-item > img{
    align-content: center;
    height: 60vw;
}

</style>
{% endblock %}
{% block title %}
    {{ breed.name }}
{% endblock %}
{% block content %}
<div class="container mx-auto">
    <div class="row">
        <div id="dogSlideshow" class="carousel slide mx-auto" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#dogSlideshow" data-slide-to="0" class="active"></li>
                <li data-target="#dogSlideshow" data-slide-to="1"></li>
                <li data-target="#dogSlideshow" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="{{ breed.img1 }}" alt="First slide">
                </div>
                <div class="carousel-item">
                    {% if breed.img2 is not none %}
                      <img class="d-block w-100" src="{{ breed.img2 }}" alt="Second slide">
                    {% else %}
                      <img class="d-block w-100" src="/static/images/no-image-dog.jpg" alt="Second slide">
                    {% endif %}
                </div>
                <div class="carousel-item">
                    {% if breed.img2 is not none %}
                      <img class="d-block w-100" src="{{ breed.img3 }}" alt="Third slide">
                    {% else %}
                      <img class="d-block w-100" src="/static/images/no-image-dog.jpg" alt="Third slide">
                    {% endif %}
                </div>
            </div>
            <a class="carousel-control-prev" href="#dogSlideshow" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#dogSlideshow" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
<div class="card text-white bg-primary">
    <div class="card-header">
        <h1>{{ breed.name }}</h1>
    </div>
    <div class="card-body">

        <p class="card-text">Characteristics</p>
        <p class="card-text">Weight: {{ breed.weight_lower }} - {{ breed.weight_upper }}</p>
        <p class="card-text">Height: {{ breed.height_lower}} - {{ breed.height_upper }}</p>
        <p class="card-text">Bred for: {{ breed.bred_for }}</p>
        <p class="card-text">Breed group: {{ breed.breed_group }}</p>
        <p class="card-text">Origin: {{ breed.origin }}</p>
        <h2>Find a {{ breed.name }}:
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Show/Hide</button>
            <div class="container-fluid collapse" id="demo">
              <div id="myCarousel" class="carousel slide" data-ride="carousel">

                <div class="carousel-inner row w-100 mx-auto">
                    {% for shelter in shelters %}
                  <div class="carousel-item col-md-4 active">

                    <a class="card bg-light" href="{{url_for('shelter_page', name=shelter.name)}}"
                    style="align-content: right">
                      <img class="card-img-top img-fluid" src="{{ shelter.img_url }}" alt="Card image cap">
                      <div class="card-body">
                        <h4 class="card-title">{{ shelter.name }}</h4>
                      </div>
                    </a>

                  </div>
                    {% endfor %}
                </div>
              </div>
            </div>
        </h2>

        
        <h2>Meet a {{ breed.name }}:
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo1">Show/Hide</button>
            <div class="container-fluid collapse" id="demo1">
              <div id="myCarousel" class="carousel slide" data-ride="carousel">

                <div class="carousel-inner row w-100 mx-auto">
                    {% for dog in dogs %}
                  <div class="carousel-item col-md-4 active">

                    <a class="card bg-light" href="{{url_for('dog_page', dog_id = dog.id)}}"
                    style="align-content: right">
                      <img class="card-img-top img-fluid" src="{{ dog.img1 }}" alt="Card image cap">
                      <div class="card-body">
                        <h4 class="card-title">{{ dog.name }}</h4>
                      </div>
                    </a>

                  </div>
                    {% endfor %}
                </div>
              </div>
            </div>
        </h2>


    </div>
</div>
{% endblock %}