{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" type="text/css" href="../static/css/index.css">

{% endblock %}

{% block title %}
    {{ dog.name }}
{% endblock %}

{% block content %}
    <div class="container pt-5">
        <div class="row">
            <div id="dogSlideshow" class="carousel slide mx-auto" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#dogSlideshow" data-slide-to="0" class="active"></li>
                    <li data-target="#dogSlideshow" data-slide-to="1"></li>
                    <li data-target="#dogSlideshow" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="{{ dog.img1 }}" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        {% if dog.img2 is not none %}
                          <img class="d-block w-100" src="{{ dog.img2 }}" alt="Second slide">
                        {% else %}
                          <img class="d-block w-100" src="/static/images/no-image-dog.jpg" alt="Second slide">
                        {% endif %}
                    </div>
                    <div class="carousel-item">
                      {% if dog.img3 is not none %}
                        <img class="d-block w-100" src="{{ dog.img3}}" alt="Third slide">
                      {% else %}
                        <img class="d-block w-100" src="/static/images/no-image-dog.jpg" alt="Third slide">
                      {% endif %}
                    </div>
                </div>
                <a class="carousel-control-prev" href="#dogSlideshow" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#dogSlideshow" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <div class="card text-white bg-primary">
        <div class="card-header">
            <h1>
                {{ dog.name }} -
                {% if dog.age is none %}
                    Unknown age
                {% elif dog.age // 12  != 0 %}
                    {{ dog.age//12 }} years
                {% else %}
                    {{ dog.age }} months
                {% endif %}
            </h1>
        </div>
        <div class="card-body">
            <p class="card-text">
                <h3>Gender: {{dog.gender}}</h3>
            </p>
            <p class="card-text">
                <h3>Size: {{dog.size}}</h3>
            </p>
            {% if dog.desc == " " %}}
                <p class="card-text">No available information found</p>
            {% else %}
                <p class="card-text">{{dog.desc}}</p>
            {% endif %}
            <p class="card-text">Neuter/Spay status:{{dog.neuter}}</p>

            <h2>Shelter:
                <div class="container-fluid" id="demo">
                  <div id="myCarousel" class="carousel slide" data-ride="carousel">

                    <div class="carousel-inner row w-100 mx-auto">
                      <div class="carousel-item col-md-4 active">

                        <a class="card bg-light" href="{{ url_for('shelter_page', name= dog.shelter) }}"
                        style="align-content: right">
                          <img class="card-img-top img-fluid" src="{{ shelter.img_url }}" alt="Card image cap">
                          <div class="card-body">
                            <h4 class="card-title">{{ dog.shelter }}</h4>
                          </div>
                        </a>

                      </div>
                    </div>
                  </div>
                </div>
            </h2>
                <h2>
                Breed:

                <div class="container-fluid" id="demo">
                  <div id="myCarousel" class="carousel slide" data-ride="carousel">

                    <div class="carousel-inner row w-100 mx-auto">
                        {% for breed in breeds %}
                      <div class="carousel-item col-md-4 active">

                        <a class="card bg-light" href="{{ url_for('breed_page', name= breed.name) }}"
                        style="align-content: right">
                          <img class="card-img-top img-fluid" src="{{ breed.img1 }}" alt="Card image cap">
                          <div class="card-body">
                            <h4 class="card-title">{{ breed.name }}</h4>
                          </div>
                        </a>

                      </div>
                        {% endfor %}
                    </div>
                  </div>
                </div>
                </h2>


    </div>
{% endblock %}
