{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
<style>
    .card-img-top {
    width: 100%;
    height: 40vw;
    object-fit: cover;
}
    .card-title{
       text-align: center;
    }
</style>
{% endblock %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div id="dogSlideshow" class="carousel slide mx-auto" data-ride="carousel">
                <ol class="carousel-indicators">
                <li data-target="#dogSlideshow" data-slide-to="0" class="active"></li>
                <li data-target="#dogSlideshow" data-slide-to="1"></li>
                <li data-target="#dogSlideshow" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner text-white">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="/static/images/carousel-dog-1.jpg" alt="First slide">
                    <div class="carousel-caption">
                        <a href="{{url_for('dogs')}}" class="btn btn-primary">See available dogs!</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="/static/images/carousel-dog-2.jpg" alt="Second slide">
                    <div class="carousel-caption">
                        <a href="{{url_for('breeds')}}" class="btn btn-primary">Learn about breeds!</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="/static/images/carousel-dog-3.jpg" alt="Third slide">
                    <div class="carousel-caption">
                        <a href="{{url_for('shelters')}}" class="btn btn-primary">Visit shelters!</a>
                    </div>
                </div>
                </div>
                <a class="carousel-control-prev" href="#dogSlideshow" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#dogSlideshow" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
<div class="jumbotron jumbotron-fluid bg-primary text-white" >
                  <div class="container">
                    <h1 class="display-4" style="text-align:center">Find your Bestfriend!</h1>
                    <p class="lead" style="text-align:center">This site is your one-stop shop for finding pets in the Austin Area!</p>
                    <p class="lead" style="text-align:center">To get started just choose a category in the Navigation bar or the cards below!</p>
                      <div class="container-fluid" id="demo">
              <div id="myCarousel" class="carousel slide" data-ride="carousel">

                <div class="carousel-inner row w-100 mx-auto">
                  <div class="carousel-item col-md-4 active">

                    <a class="card bg-light" href="{{url_for('breeds')}}"
                    style="align-content: right">
                      <img class="card-img-top img-fluid" src="static/images/breed_boxer2.jpg" alt="Card image cap">
                      <div class="card-body">
                        <h4 class="card-title"> Available Breeds! </h4>
                      </div>
                    </a>
                  </div>
                  <div class="carousel-item col-md-4 active">
                    <a class="card bg-light" href="{{url_for('dogs')}}" style="align-content: right">
                      <img class="card-img-top img-fluid" src="static/images/coco1.jpg" alt="Card image cap">
                      <div class="card-body">
                        <h4 class="card-title"> Available Dogs!</h4>
                      </div>
                    </a>
                  </div>
                  <div class="carousel-item col-md-4 active">
                    <a class="card bg-light" href="{{url_for('shelters')}}" style="align-content: right">
                      <img class="card-img-top img-fluid" src="static/images/apa1.jpg" alt="Card image cap">
                      <div class="card-body">
                        <h4 class="card-title"> Nearby Shelters!</h4>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
                  </div>

                </div>
{% endblock %}
