{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" type="text/css" href="../static/css/index.css">
<style>
  body {
    padding-top: 65px;
  }
</style>
{% endblock %}

{% block title %}
Search
{% endblock %}

{% block content %}
<h1 class="text-center mb-3 text-white">Search Results for "{{ request.args.get('q')}}"</h1>
<div class="container py-2" style="background-color: white;">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="dogs-tab" data-toggle="tab" href="#dogs" role="tab" aria-controls="dogs"
        aria-selected="true">
        Dogs 
        {% if dogs %}
          <span class="badge badge-info">{{ dogs|length }}</span>
        {% else %}
          <span class="badge badge-danger">0</span>
        {% endif %}
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="breeds-tab" data-toggle="tab" href="#breeds" role="tab" aria-controls="breeds"
        aria-selected="false">
        Breeds
        {% if breeds %}
          <span class="badge badge-info">{{ breeds|length }}</span>
        {% else %}
          <span class="badge badge-danger">0</span>
        {% endif %}
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="shelters-tab" data-toggle="tab" href="#shelters" role="tab" aria-controls="shelters"
        aria-selected="false">
        Shelters
        {% if shelters %}
          <span class="badge badge-info">{{ shelters|length }}</span>
        {% else %}
          <span class="badge badge-danger">0</span>
        {% endif %}
      </a>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="dogs" role="tabpanel" aria-labelledby="dogs-tab">
      {% if dogs %}
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Breed</th>
              <th scope="col">Shelter</th>
              <th scope="col">Age</th>
            </tr>
          </thead>
          <tbody>
            {% for dog in dogs %}
              <tr>
                <th scope="row">{{ dog.id }}</th>
                <td>
                  <a href='{{ url_for("dog_page", dog_id=dog.id) }}'>{{ dog.name }}</a>
                </td>
                <td>
                  <a href='{{url_for("breed_page",name=dog.breed1)}}'>{{ dog.breed1 }}</a>
                  {% if dog.breed2 is not none %}
                    <a href='{{url_for("breed_page",name=dog.breed2)}}'>/ {{ dog.breed2 }}</a>
                  {% endif %}
                </td>
                <td>
                  <a href='{{url_for("shelter_page", name=dog.shelter)}}'>{{ dog.shelter}}</a>
                </td>
                <td>
                  {% if dog.age == -1 %}
                    n/a
                  {% elif dog.age // 12  != 0 %}
                    {{ dog.age // 12 }}y
                  {% else %}
                    {{ dog.age }}m
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <div class='pt-3'>
          <div class="alert alert-danger" role="alert">
            There were no dogs that matched your query.
          </div>
        </div>
      {% endif %}
    </div>

    <div class="tab-pane fade" id="breeds" role="tabpanel" aria-labelledby="breeds-tab">
      {% if breeds %}
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Type</th>
              <th scope="col">Origin</th>
              <th scope="col">Purpose</th>
            </tr>
          </thead>
          <tbody>
            {% for breed in breeds %}
              <tr>
                <td>
                  <a href='{{ url_for("breed_page", name=breed.name )}}'>
                    {{ breed.name }}
                  </a>
                </td>
                <td>
                  {% if breed.breed_group is not none %}
                    {{ breed.breed_group}}
                  {% else %}
                    n/a
                  {% endif %}
                </td>
                <td>
                  {% if breed.origin is not none %}
                    {{ breed.origin }}
                  {% else %}
                    Unknown
                  {% endif %}
                </td>
                <td>
                  {% if breed.bred_for is not none %}
                    {{ breed.bred_for}}
                  {% else %}
                    n/a
                  {% endif %}
                </td>



              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <div class='pt-3'>
            <div class="alert alert-danger" role="alert">
              There were no breeds that matched your query.
            </div>
          </div>
      {% endif %}
    </div>

    <div class="tab-pane fade" id="shelters" role="tabpanel" aria-labelledby="shelters-tab">
      {% if shelters %}
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Website</th>
              <th scope="col">E-mail</th>
            </tr>
          </thead>
          <tbody>
            {% for shelter in shelters %}
              <tr>
                <td>
                  <a href='{{ url_for("shelter_page", name=shelter.name) }}'>
                    {{ shelter.name }}
                  </a>
                </td>
                <td><a href="http://{{ shelter.website }}">{{ shelter.website }}</a></td>
                <td><a href="mailto: {{shelter.email}}">{{ shelter.email }}</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <div class='pt-3'>
          <div class="alert alert-danger" role="alert">
            There were no shelters that matched your query.
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}