{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" type="text/css" href="../static/css/index.css">
<style>
    .card-img-top {
    width: 80%;
    height: 20vw;
    object-fit: cover;
}
</style>
{% endblock %}
{% block title %}
{{ shelter.name }}
{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div id="AACSlideshow" class="carousel slide mx-auto" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#AACSlideshow" data-slide-to="0" class="active"></li>
                <li data-target="#AACSlideshow" data-slide-to="1"></li>
                <li data-target="#AACSlideshow" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="/static/images/{{shelter.img1}}" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="/static/images/{{shelter.img2}}" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="/static/images/{{shelter.img3}}" alt="Third slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#AACSlideshow" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#AACSlideshow" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
<div class="card text-white bg-primary">
    <img class='d-block w-100' src='{{ shelter.img_url}}'></img>
    <div class="card-header">
        <h1>{{shelter.name}}</h1>
    </div>
    <div class="card-body">
        <p class="card-text">
            <h3>Location: </h3> {{shelter.address}}
        </p>
        <p class="card-text">
            <h3>Email: </h3> {{shelter.email}}
        </p>
        <p class="card-text">
            <h3>Phone: </h3> {{shelter.phone}}
        </p>
        <p class="card-text">
            <h3>Website: </h3> {{shelter.website}}
        </p>
        <!--
        <p class="card-text">
            <h3>Hours: </h3> {{shelter.hours}}
        </p>
        <p class="card-text">
            <h3>Map: </h3> <a href="{{shelter.map}}" style="color:white;">Google Maps
        </p>
        <p class="card-text">
            <h3>About: </h3>
            {{shelter.about}}
        </p>
    -->
        <h2>Available Breeds:
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Show/Hide</button>
            <div class="container-fluid collapse" id="demo">
              <div id="myCarousel" class="carousel slide" data-ride="carousel">

                <div class="carousel-inner row w-100 mx-auto">
                    {% for breed in breeds %}
                  <div class="carousel-item col-md-4 active">

                    <a class="card bg-light" href="{{url_for('breed_page', name=breed.name)}}"
                    style="align-content: right">
                      <img class="card-img-top img-fluid" src="{{ breed.img1 }}" alt="Card image cap">
                      <div class="card-body">
                        <h4 class="card-title">{{ breed.name }}</h4>
                      </div>
                    </a>

                  </div>
                    {% endfor %}
                </div>
              </div>
            </div>


        </h2>
        <h2>Available Dogs:
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo1">Show/Hide</button>
        <div class="container-fluid collapse" id="demo1">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner row w-100 mx-auto">
        {% for dog in dogs%}
        <div class="carousel-item col-md-4 active">

            <a class="card bg-light" href='{{ url_for("dog_page", dog_id=dog.id) }}' style="align-content: right">
                      <img class="card-img-top img-fluid" src="{{ dog.img1 }}" alt="Card image cap">
                      <div class="card-body">
                        <h4 class="card-title">{{ dog.name }}</h4>
                      </div>
                    </a>

                  </div>
        {% endfor %}
        </h2>
        <h2>Website: {{ shelter.website }}
        </h2>

    </div>
</div>

{% endblock %}